<button mat-raised-button [matMenuTriggerFor]="menu">Change View</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="view = 'month'" >Month</button>
  <button mat-menu-item (click)="view = 'week'">Week</button>
  <button mat-menu-item (click)="view = 'day'">Day</button>
</mat-menu>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="onDayClick($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (dayHeaderClicked)="onDayClick($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="dayStar">
    <!-- [dayEndHour]="dayEnd" -->
  </mwl-calendar-day-view>
  <div *ngSwitchDefault>
    Wrong view type. Please relode the page.
  </div>
</div>  