<h1 mat-dialog-title>Edit {{event.title}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="event.title" >
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput [(ngModel)]="event.desc" >
  </mat-form-field>
  
  <!-- <app-datepicker></app-datepicker> -->

  <owl-date-time [showHeader]="true"[(ngModel)]="date" [inline]="inline">
    </owl-date-time>
  <!-- <mat-form-field>
    <input type="datetime" matInput [(ngModel)]="event.start" >
  </mat-form-field> -->
  
  <!-- <app-datepicker></app-datepicker> -->
  <!-- <mat-form-field>
    <input type="datetime" matInput [(ngModel)]="event.end" >
  </mat-form-field> -->
<!--   
  <mat-form-field>
    <mat-select mat-input [(ngModel)]="event">
      <mat-option val="Red">Red</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>

<div mat-dialog-action>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button [mat-dialog-close]="event" mat-raised-button (click)="onSave()">Save</button>
</div>